body {
    margin: 0 0 0 0;
    font-family:'Times New Roman,Verdana,Arial,Helvetica,Sans-Serif';
    background-color: #7e7e7e;
	font-size: 8pt;
	background-image:url(images/bgr.gif);
	background-repeat: repeat;
	color: #232220;
	text-align:center;
	height: 97%;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size:10px;	
}

div#main_div {
  width: 932px;
  min-height: 100%;
  #height: 96%; /* KÖCSÖG IE miatt kell */
  margin: 0px auto;
  text-align:left;
  background-image:url(images/content_bgr.gif);
  background-repeat: repeat-y;
  overflow: hidden;
  #overflow: visible; /* KÖCSÖG IE miatt kell */
}
div#main_div ul {
  clear:left;
  float:left;
  list-style-type:none;
  margin:0pt 0pt 0pt 0pt;
  padding-left: 26px;
}
#main_div ul li {
  float:left;
  margin:0pt 0pt 0pt 0pt;
}

div#main_mnu a {
  /*color:#444;*/
}
div#main_mnu ul {
  clear:left;
  float:left;
  list-style-type:none;
  margin:0pt 0pt 0pt 0pt;
  padding-left:0px;
  padding-right:1px;
  font-size:0pt;
  width: 880px;
}
#main_mnu ul li {
  float:left;
  margin:0pt 0pt 0pt 0pt;
  padding-right:0pt;
}
#main_mnu img {
  border:0pt none;
  padding-top:0px;
  padding-bottom:0px;
}

div#main_mnu_line ul {
  background-image: url(images/mnu_bgr.gif);
  background-repeat: repeat-x;
  height: 26px;
  width: 876px;
  #width: 881px;
  clear:left;
  float:left;
  list-style-type:none;
  margin:0px 0px 0px 0px;
  padding-left:4px;
  padding-right:1px;
  font-size:0pt;
}
#main_mnu_line ul li {
  float:left;
}
#main_mnu_line img {
  border:0px none;
  padding-top:0px;
  padding-bottom:0px;
}

div#users_mnu ul {
  clear:left;
  float:left;
  list-style-type:none;
  margin:0pt 0pt 0pt 0pt;
  padding:0px 0px 0px 0px;
  background-color: #c4b39b;
  height: 20px;
  width: 881px;
}
#users_mnu ul li {
  float:left;
  margin:0px 0px 0px 0px;
}
div#users_mnu ul li.left {
   float: left;
   width: 760px;
   #width: 768px;
   padding-left: 8px;
   padding-top: 4px;
   text-align: left;
}
div#users_mnu ul li.right {
   float: left;
   width: 100px;
   text-align: right;
   padding-right: 8px;
   padding-left: 5px;
   #margin-left: 5px;
   #padding-right: 0px;
}

a.users_mnu:link,a.users_mnu:active,a.users_mnu:visited { color : #25221e; text-decoration: none; }
a.users_mnu:hover { color : #ff0000; text-decoration: underline; }

div#user_mnu_content {
  padding-left: 3px;
  width: 874px;
  float:left;
}

div#users_mnu_end ul {
  margin:0pt 0pt 0pt 0pt;
  padding:0pt 0pt 0pt 0pt;
  background-image: url(images/color_shape.gif);
  height: 1px;
  width: 881px;
  font-size: 0px;
}

div#block {
  border-width: 1px;
  border-style: solid;
  border-color: #79746e;
  background-image: url(images/block_bgr.gif);
  margin-bottom: 10px;
  min-height: 200px;
  #height: 200px;
  #width: 864px;
}
div#block_header {
  width: 864px;
  height: 19px;
  background-image: url(images/block_header.gif);
  background-repeat: none;
  background-color: #cccccc;
  text-align: left;
  line-height: 17px;
  color: #ffffff;
  font-weight: bold;
}
div#block_header_content {
  padding-left: 3px;
 }
div#block_content {
  margin: 3px 3px 3px 3px;
  color: #000000;
}

/* FOOOO */

div#foo {
  width: 932px;
  margin: 0px auto;
  text-align:left;
  background-image:url(images/content_bgr.gif);
  background-repeat: repeat-y;
  overflow: hidden;
  #overflow: visible; /* KÖCSÖG IE miatt kell */
}
div#foo ul {
  clear:left;
  float:left;
  list-style-type:none;
  margin:0pt 0pt 0pt 0pt;
  padding-left: 26px;
}
#foo ul li {
  float:left;
  margin:0pt 0pt 0pt 0pt;
}
/* FOO VÉGE */

/*FOOTER*/
div#footer {
  float: left;
  width: 874px;
  margin: 0;
  padding: 3px;
  border: none;
  font-size: 9pt;
}
div#footer ul {
   margin: 0;
   padding: 0;
   bottom: 10px; 
}
div#footer ul li.left {
   float: left;
   width: 84px;
   padding-left: 4px;
   padding-top: 2px;
}
div#footer ul li.center {
   float: left;
   width: 704px;
}
div#footer ul li.center p {
   margin: 0;
   padding: 0 10px 0 10px;
   text-align: center;
}
div#footer ul li.right {
   float: left;
   width: 80px;
   padding-top: 2px;
}
div#footer_border ul {
  margin:0pt 0pt 0pt 0pt;
  padding:0pt 0pt 0pt 0pt;
  width: 881px;
  font-size: 0px;
  border-width: 4px;
  border-style: solid none none none;
  border-color: #a09d96;
  list-style: none;
}

/* CONTENT */
div#content ul {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  background-color: #e5e5e5;
  font-size: 8pt;
  width: 880px;
}
#content ul li {
  float:left;
  margin:0pt 0pt 0pt 0pt;
  padding:10px 0px 7px 7px;
}

/* NOT LOGGED IN */
div#not_logged_in {
  float: left;
  width: 875px;
  #width: 881px;
  height: 24px;
  #height: 30px;
  margin: 0;
  padding: 3px;
  #padding: 0px;
  #padding-top: 3px;
  border: none;
  background-color: #84807e;
  color: #ffffff;
  font-weight: bold;
}
div#not_logged_in ul {
   margin: 0;
   padding: 0;
   font-size: 9pt;
}
div#not_logged_in ul li.left {
   float: left;
   width: 580px;
   padding-left: 4px;
   padding-top: 2px;
}
div#not_logged_in ul li.left p {
   margin: 0;
   padding: 0px 0px 0px 0px;
   text-align: left;
   #padding-left: 6px;
}
div#not_logged_in ul li.left form {
   margin: 0;
   padding: 0px 0px 0px 0px;
   text-align: left;
}
div#not_logged_in ul li.left input {
   width: 120px;
   font-size: 8pt;
}
div#not_logged_in ul li.right {
   float: left;
   width: 280px;
   padding-top: 2px;
}
div#not_logged_in ul li.right p {
   margin: 0px;
   text-align: right;
}
div#not_logged_in ul li.right img {
   vertical-align: middle;
   #position: relative;
   #top: 2px;
   #left: 4px;
}
#promptDiv { 
   font-size: 9pt;
}
